/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}


/* ---------- GENERAL ---------- */

* {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
}

input {
	border: none;
	font: inherit;
	margin: 0;
	padding: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}


/* ---------- ALIGN ---------- */

.align {
	position: relative;
	top: 100px;
	color: #000;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.5;
	margin: 0;
	min-height: 100%;
}


/* ---------- GRID ---------- */

.grid {
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	width: 400px;
}


/* ---------- LOGIN ---------- */

#login h2 {
	background: #f95252;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login #caption {
	background: #33cc77;
}

#login fieldset {
	background: #fff;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	border-radius: 3px;
}

#login fieldset input[type="text"] {
	background: #eee;
	color: #777;
	padding: 4px 10px;
	width: 100%;
}

#login fieldset input[type="submit"] {
	background: #33cc77;
	color: #fff;
	padding: 4px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover {
	background: #28ad63;
}

#login fieldset input[type="reset"] {
	background: rgb(254, 67, 101);
	color: #fff;
	padding: 4px 0;
	width: 100px;
	margin-right: 30px;
}

#button {
	width: 230px;
	margin: 0 auto;
}

#login fieldset input[type="reset"]:hover {
	background: rgb(220, 67, 101);
}

body {
	background: #c0c0c0;
}

#login fieldset input:required:valid {
	background: #fff url(http://sandbox.runjs.cn/uploads/rs/216/0y89gzo2/right.png) no-repeat 99% center;
	box-shadow: 0 0 10px #5cd053;
	border-color: #28921f;
}

#login .error {
	color: red;
}